<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestAppAppLab"
        tools:targetApi="31">
        <activity
            android:name=".SearchRecyclerView.SearchRecyclerListActivity"
            android:exported="false" />
        <activity
            android:name=".Tips.TipsCrudActivity"
            android:exported="false" />
        <activity
            android:name=".Tips.TipsListItemClickActivity"
            android:exported="false" />
        <activity
            android:name=".Tips.NewTipUploadActivity"
            android:exported="false" />
        <activity
            android:name=".Tips.TipsMenuActivity"
            android:exported="false" />
        <activity
            android:name=".Tips.TipsListActivity"
            android:exported="false" />
        <activity
            android:name=".Tips.TipsSearchActivity"
            android:exported="false" />
        <activity
            android:name=".CRUD_firebase.AlgmLijstPersActivity"
            android:exported="false" />
        <activity
            android:name=".ListViewLocalJson.ListViewMetInvoerActivity"
            android:exported="false" />
        <activity
            android:name=".Voorbeelden.WithSharedPreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".CallBackActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewer.UserList"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewer.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".JSONdemo.GsonActivity"
            android:exported="false" />
        <activity
            android:name=".AdapterDemos.ListViewArrayAdapter"
            android:exported="false" />
        <activity
            android:name=".JSONdemo.JsonDemoActivity"
            android:exported="false" />
        <activity
            android:name=".LifeCycleDemo.LifeCyleDemo2"
            android:exported="false" />
        <activity
            android:name=".Buttons.ButtonExampleActivity"
            android:exported="false" />
        <activity
            android:name=".Voorbeelden.Aminozuren2Activity"
            android:exported="false" />
        <activity
            android:name=".Voorbeelden.Aminozuren"
            android:exported="false" />
        <activity
            android:name=".Voorbeelden.RecyclerViewAminozurenActivity"
            android:exported="false" />
        <activity
            android:name=".SignInOut.ForgottenPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".SignInOut.AfterSignInActivity"
            android:exported="false" />
        <activity
            android:name=".SignInOut.TestenActivity"
            android:exported="false" />
        <activity
            android:name=".SignInOut.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".TestVerbinding"
            android:exported="false" />
        <activity
            android:name=".SignInOut.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>